<%- include('header'); -%>

<h1 style="color:white; text-align:center;">Welcome</h1>

<!-- about me -->
<h2 style="color:white; text-align:center;"><a  href="/project" style="color:white;">My Resume Click to see</a></h2>
<br>

<!-- My habits -->
<div id="habits">
  <article class="">
    <h2>Habits</h2>
    <ul>
      <li> I try to find a new Technology everytime</li>
      <li>I love Spend time with my Laptop.</li>
      <li>Listening Soft bass boosted song</li>
      <li>Self-realization</li>
      <li>Read religion books </li>
      <li>I love Chit chat with my friend</li>
    </ul>
  </article>
</div>
<br>
<div id="study">
  <article class="">
    <h2>Study</h2>
      <h1><span class="degree" ></span> from    </h1>
      <h1><span class="degree1" ></span> from  </h1>
    </div>

  </article>

</div>
<br>
<div id="skill">
  <article class="">
    <h2>Skill</h2>
    <img class="skimg" src="https://media.giphy.com/media/3otO6zntMrmhpvaYX6/giphy.gif" alt="">
    <label for="">HTML</label>
<meter  value="8" min="0" max="10">8 out of 10</meter><br>

<label class for="">CSS</label>
<meter  value="7" min="0" max="10">7 out of 10</meter><br>

<label for="">JavaScript</label>
<meter  value="7" min="0" max="10">7 out of 10</meter><br>

<label for="">NodeJs</label>
<meter value="6" min="0" max="10">6 out of 10</meter><br>

<label for="">MongoDB</label>
<meter  value="5" min="0" max="10">5 out of 10</meter><br>

  </article>

</div>



<%- include('footer'); -%>
