<%- include('header'); -%>
<div class="cont">
  <h2 class="cont1">Get in touch with me</h2>
  <form class="connectme" action="/" method="post">
    <label for="">Name:</label>
    <input type="text" name="fullName" value=""  required>
    <br><br><br>
      <label for="">Mobile Number:</label>
      <input type="text" name="mobile" value=""  required>
      <br><br><br>
      <label for="">E-mail</label>
      <input type="email" name="email" value=""  required><br><br><br>
      <textarea name="content" rows="5" cols="50"></textarea><br>
    <button class="btn-home" type="submit" name="button">Submit</button>
    </form>
  </div>


<%- include('footer'); -%>
