<footer>
  <a href="https://www.youtube.com/">Youtube</a>
  <a href="https://www.linkedin.com/">linkedIn</a>
  <a href="#">Instagram</a>
  <a href="https://twitter.com">Twitter</a>
  <br>
</footer>
</body>
</html>
