<%- include('header'); -%>

<h1 style="color:white; text-align:center;">Welcome</h1>

<!-- about me -->
<div id="about_me">
  <article class="">
    <h2 class="headingN">Project 1</h2>
    <img class="abimg" src="https://media.giphy.com/media/u2pmTWUi0MXjyrMaVj/giphy.gif" alt="">
    <p class="abcontant">I am a Full-Stack Developer with academic experience in building websites and web applications. I specialize in frontend and have professional experience working with HTML, CSS, JavaScript, Bootstrap & jQuary.
    I am interested in Computer And Technology. I want to be a web Developer. And nowadays I am a beginner at Flutter.</p>
  </article>
</div>
<br>
<div id="about_me">
    <article class="">
      <h2 class="headingN">Project 2</h2>
      <img class="abimg" src="https://media.giphy.com/media/u2pmTWUi0MXjyrMaVj/giphy.gif" alt="">
      <p class="abcontant">I am a Full-Stack Developer with academic experience in building websites and web applications. I specialize in frontend and have professional experience working with HTML, CSS, JavaScript, Bootstrap & jQuary.
        I am interested in Computer And Technology. I want to be a web Developer. And nowadays I am a beginner at Flutter.</p>
    </article>
  </div>
  <br>
  <div id="about_me">
    <article class="">
      <h2 class="headingN">Project 3</h2>
      <img class="abimg" src="https://media.giphy.com/media/u2pmTWUi0MXjyrMaVj/giphy.gif" alt="">
      <p class="abcontant">I am a Full-Stack Developer with academic experience in building websites and web applications. I specialize in frontend and have professional experience working with HTML, CSS, JavaScript, Bootstrap & jQuary.
        I am interested in Computer And Technology. I want to be a web Developer. And nowadays I am a beginner at Flutter.</p>
    </article>
  </div>
  <br>

<%- include('footer'); -%>
