<%- include('header'); -%>
<div id="skill">
    <article class="" style="display: flex;">
      <h2>Web Development</h2>
      <img class="skimg" src="https://media.giphy.com/media/YzBqMeSAFlyltaZ5yZ/giphy.gif" alt="">
      <h2>Business Developer</h2>
      <img class="skimg" src="https://media.giphy.com/media/bGgsc5mWoryfgKBx1u/giphy.gif" alt="">
      <h2>App Development</h2>
      <img class="skimg" src="https://media.giphy.com/media/QyVZ1BCz9Fh6J0qblM/giphy.gif" alt="">

  
    </article>
  
  </div>


<%- include('footer'); -%>
